@section Header{
    <link href="~/css/pagination.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户中心</h5>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4 m-b-xs">
                        <label class="col-sm-2 control-label text-right">账号</label>
                        <div class="col-sm-10">
                            <input class="input-sm form-control" type="text" name="AccountNo" id="AccountNo" />
                        </div>
                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <label class="col-sm-2 control-label text-right">用户名</label>
                        <div class="col-sm-10">
                            <input class="input-sm form-control" type="text" name="AccountName" id="AccountName" />
                        </div>
                    </div>
                    <div class="col-sm-2 m-b-xs">
                        <button type="button" id="btnSubmit" class="btn btn-sm btn-primary" onclick="queryCondition()">
                            <i class="glyphicon glyphicon-zoom-in"></i>
                            搜索
                        </button>
                        <a id="btnAddRole" href="javascript:void(0)" class="btn btn-sm btn-success" onclick="openAddUser()">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            添加
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table  id="dataList" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>账号</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>电话</th>
                                <th>创建时间</th>
                                <th>管理员</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="Pager" class="pager"></div>
            </div>
        </div>
    </div>
</div>

@section Footer
{
    <script type="text/x-jquery-tmpl" id="temp">
        <tr>
            <td>${Id}</td>
            <td>${AccountNo}</td>
            <td>${AccountName}</td>
            <td>${Mail}</td>
            <td>${Mobile}</td>
            <td>${CreateTime}</td>
            <td>${IsAdmin}</td>
            <td>${Status}</td>
            <td class="text-right">
                <a href="javascript:void(0)" onclick="permissionRoleList('${Id}','${AccountName}')"><i class="glyphicon glyphicon-user text-navy"></i>权限</a>
            </td>
        </tr>
    </script>
    <script src="~/lib/jquery.tmpl.js"></script>
    <script src="~/js/widget/pagination.js"></script>
    <script src="~/js/views/Account/User/UserList.js"></script>
}