<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Notify</title>
    <!--[if lt IE 9]>
        <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

    <link href="~/lib/hplus/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/hplus/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/hplus/css/animate.min.css" rel="stylesheet">
    <link href="~/lib/hplus/css/style.min.css" rel="stylesheet">
    <link href="~/lib/layer-v2.0/layer/skin/layer.css" rel="stylesheet" />
    @RenderSection("Header", false)
</head>
<body class="gray-bg">
    @RenderBody()
</body>
</html>
<script src="~/lib/hplus/js/jquery.min.js"></script>
<script src="~/lib/hplus/js/bootstrap.min.js"></script>
<script src="~/lib/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/lib/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/lib/layer-v2.0/layer/layer.js"></script>
<script src="~/lib/hplus/js/hplus.min.js"></script>
<script src="~/lib/hplus/js/contabs.min.js" type="text/javascript"></script>
<script src="~/lib/hplus/js/content.min.js"></script>
<script src="~/lib/hplus/js/plugins/pace/pace.min.js"></script>
<script src="~/lib/json2.js"></script>
<script src="~/js/widget/common.js"></script>
@RenderSection("Footer", false)